/* Forcing all postioning and/or browser defaults to 0 so, my CSS takes precident */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Oxygen", sans-serif;
}

nav {
  background: #285012;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #f18825;
  transition: 0.8s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Background image */
section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/sunsetSail.jpg");
  height: calc(100vh - 80px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 76%;
  transform: translate(-50%, -76%);
  color: white;
  z-index: 2;
}

#mahName {
  font-size: 30px;
}
.hero-text button {
  border: none;
  border-radius: 3%;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  margin-top: 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  border-radius: 3%;
  color: white;
  margin-top: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 33.3%;
  right: 33.3%;
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #663f06a6;
}

footer ul {
  display: flex;
  display: flexbox;
  justify-content: space-around;
}

footer ul li a {
  color: white;
  font-size: 10px;
  padding: 7px 5px;
  border-radius: 3px;
  text-transform: uppercase;
}
/* TODO work on footer for media calls */
/* Reconfigures layout for phone sized screens */
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

/* Reconfigures layout for tablet sized screens */
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 3;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #f18825;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
